


<ul class="menu-subnav">

    <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
        <a href="/Client/BlogCategory/Index" class="menu-link">
            <span class="menu-icon">
                <i class="fa fa-paste"></i>
            </span>
            <span class="menu-text">Blog Category</span>
        </a>
    </li>
          <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
        <a href="/Client/Blog/Index" class="menu-link">
            <span class="menu-icon">
                <i class="fa fa-paste"></i>
            </span>
            <span class="menu-text">Blog</span>

        </a>
    </li>
  
</ul>