<div style="background:#e8e8e8; font-family: 'Inter', sans-serif;">
    <div section="main" style="max-width: 600px; margin: auto; padding-top: 50px;padding-bottom: 50px;">
        <div class="template" style="background :#fff; margin: 7% 0%; border-radius: 10px;">
            <div class="logo" style="text-align: center;">
                <a href="https://portal.webbeesite.com/" style="text-decoration: none; " target="_blank">
                    <img class="center" src="https://v1-cdn-webbeesite.azurewebsites.net/Images/logo/email-template-logo.png" alt="" width="125px" />
                </a>
            </div>
            <div class="content" style="background: #f6f6f6; padding: 20px 30px;">
                <h3 style="font-weight: 700;text-align: center;">Verify Your Account</h3>
                <p style="text-align: center;">
                    Dear {Customer Name}, Your account has been created successfully, you can verify your acccount!<br />

                </p>
                <div class="crenditials" style="justify-content: center; text-align: center;">
                    <!--<div class="email">
                        <h4 style="margin-bottom: 0px;font-size: 13px;">Email Address:</h4>
                        <p style="margin-top: 0px; font-size: 13px;">{Email}</p>
                    </div>
                    <div class="password">
                        <h4 style="margin-bottom: 0px;font-size: 13px;">Password:</h4>
                        <p style="margin-top: 0px;font-size: 13px;">{Password}</p>
                    </div>-->
                    <div class="btn" style="margin: 20px 0px;">
                        <a href="{Url}" type="button" style="    background: #098ab9;color: white;border: none;border-radius: 6px;padding: 12px 40px;
              font-size: 12px;
              font-weight: 600; text-decoration: none;">Verify</a>
                    </div>
                </div>
            </div>
            <div class="store" style="display:flex; padding:20px 30px; border-bottom:2px solid #f2f2f2; align-items: center ;background:#fff">
                <div class="heading" style="width: 50%;">
                    <h4>Download Our App</h4>
                </div>
                <div class="img1" style="width: 25%;">
                    <a href="javascript:;" style="text-decoration: none; ">
                        <img class="tb_r" src="https://portal.fougito.com/Assets/images/playstore.png" alt="" width="100%"
                             style="margin-right:10px ;" />
                    </a>
                </div>
                <div class="img2" style="width: 25%;">
                    <a href="javascript:;" style="text-decoration: none; ">
                        <img src="https://portal.fougito.com/Assets/images/appstore.png" alt="" width="100%" />
                    </a>
                </div>
            </div>
            <div class="followus" style="padding: 20px 30px; text-align: center;background:#fff">
                <p>
                    You can follow our social media accounts for more </br> information and updates.
                </p>
                <div class="social-accounts">
                    <a href="javascript:;" style="text-decoration: none; ">
                        <img src="https://portal.fougito.com/Assets/images/facebook.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none; margin-left: 5px;">
                        <img src="https://portal.fougito.com/Assets/images/twitter.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">

                        <img src="https://portal.fougito.com/Assets/images/instagram.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">
                        <img src="https://portal.fougito.com/Assets/images/youtube.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">
                        <img src="https://portal.fougito.com/Assets/images/pinterest.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">
                        <img src="https://portal.fougito.com/Assets/images/bee.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
