@model HelperClasses.DTOs.Authentication.ConfirmEmailDTO


<div style="background:#e8e8e8; font-family: 'Inter', sans-serif;">
    <div section="main" style="max-width: 600px; margin: auto; padding-top: 50px;padding-bottom: 50px;">
        <div class="template" style="background :#fff; margin: 7% 0%; border-radius: 10px;">
            <div class="logo" style="text-align: center;padding: 2rem">
                <a href="https://portal.webbeesite.com/" style="text-decoration: none; " target="_blank">
                    <img src="https://v1-cdn-webbeesite.azurewebsites.net/Images/logo/email-template-logo.png">
                </a>


            </div>
            <div class="content" style="padding: 0px 30px 16px;">
                <div style="background: #f6f6f6;padding:2rem">
                    <center>
                    <h3 style="text-align: center;">
                        Hello @Model.UserName,<br />
                        Congratulations, Your Account has been Approved!
                    </h3>
                    <br />
                         <a type="button" formtarget="_blank" data-attr="Draft" style="    background-color: #ffb000;
    border-color: #ffb000;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600 !important;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.42rem;
    box-shadow: none;" href="https://portal.demowbs.com/Vendor">
                            Proceed to portal
                        </a>

                    </center>

                </div>
            </div>
            <br />
            <div class="followus" style="padding: 20px 30px; text-align: left;background:#fff; display:flex">
                <p style="font-size:12px">
                    You can follow our social media accounts for more <br /> information and updates.
                </p>
                <div class="social-accounts" style="padding-left:1rem">
                    <a href="javascript:;" style="text-decoration: none; ">
                        <img src="https://cdn.fougito.com/images/assets/email/FacebookIcon.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none; margin-left: 5px;">
                        <img src="https://cdn.fougito.com/images/assets/email/TwitterIcon.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">
                        <img src="https://cdn.fougito.com/images/assets/email/InstagramIcon.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">
                        <img src="https://cdn.fougito.com/images/assets/email/LinkedinIcon.png" alt="" />
                    </a>
                    <a href="javascript:;" style="text-decoration: none;margin-left: 5px;">
                        <img src="https://cdn.fougito.com/images/assets/email/youtubeicon.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
