@model HelperClasses.DTOs.Emails.GeneralEmailDTO
<!DOCTYPE html>
<html>
<head>
</head>
<body>

    
    <br />
    <p style="text-align: left">
        Name: @Model.Name <br />
        Email: @Model.Email <br />
        Phone Number: @Model.PhoneNumber
    </p>
    <br />
    <p style="text-align: left">
       Message: @Html.Raw(Model.HTMLBody)
    </p>
    <br />
    <br />
    <br />
    <p>
        This email is sent from Book a Demo Form
    </p>
    @*<div class="ftr-links">
        <small style="margin-left: 45%;">Powered by</small>
        <br />
        <a href="https://webbeesite.com" target="_blank" style=" margin-left: 41%;">
            <img src="https://v1-cdn-webbeesite.azurewebsites.net/Images/logo/email-template-logo.png">
        </a>

    </div>*@
</body>
</html>