@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    String ImgURL = Configuration.GetValue<string>("WebAppImagesURL");

    string BrandName = "NowBuySell";
}

@model HelperClasses.DTOs.Authentication.ResetPasswordDTO

<!DOCTYPE html>

<html>
<head>
    <style>
        .body {
            font-size: 1em;
        }

        .main {
            width: 80%;
            display: block;
        }

        .head {
            height: 72px;
            position: relative;
            background-color: #000000;
        }

        img {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .emailbody {
            padding: 5px;
            color: black;
        }

        a.button {
            display: block;
            height: 40px;
            background: #000000;
            padding: 10px 0 10px 0;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 2em;
            width: 50%;
            text-decoration: none;
        }

        .footer {
            height: 50px;
            line-height: 50px;
            background-color: #000000;
            text-align: center;
            vertical-align: middle;
            color: white;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="head" style="position:relative">
            @*<img src='@String.Concat(ImgURL,"CadenceFullLogo-Small.png")' height="70"
                 style="position:absolute" />*@
        </div>
        <div class="emailbody">
            <h1 style="text-align:center">Password Reset</h1>

            <p>Hello</p>
            <p>
                Someone recently requested a password change for your @BrandName account. If this was you, you can set
                a new password by clicking the link below within 24 hours.
            </p>

            <a class="button" href="@Model.AuthCode">Code</a>

            <p>
                If you don't want to change your password or didn't request this, just ignore and delete this message.
            </p>
        </div>
        <div class="footer">
            <p>&copy; @BrandName</p>
        </div>
    </div>
</body>
</html>