@model WebApp.ViewModels.GarageMenuViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Create</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">

    <form asp-action="Create" asp-controller="GarageMenu" id="Userform">
        @Html.AntiForgeryToken()
        <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">


            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter  name here ...", required = "required" } })@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-pen"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">Route</label>
                    <div class="input-group mb-2">
                        @Html.EditorFor(model => model.Route, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter  name here ...", required = "required" } })@Html.ValidationMessageFor(model => model.Route, "", new { @class = "text-danger" })
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-map-marked-alt"></i></span></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info" form="Userform">Submit</button>
</div>

<script>
    var _URL = window.URL || window.webkitURL;
    var logoPath;
    $(document).ready(function () {

        $("#Userform").submit(function () {

            $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            
            var data = new FormData();
            data.append("Title", $('#Title').val());
            data.append("Route", $('#Route').val());
            $.ajax({
                url: "/Admin/GarageMenu/Create/",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {

                    if (callback) {
                        callback($('#myModalContent'), element, false, response);
                    }
                    location.reload();
                },
                error: function (er) {
                    toastr.error(er);
                }
            });
            return false;
        });
    });

</script>
