@model WebApp.ViewModels.LoginViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 10 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title> Fougito - Administrator </title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/Admin/css/pages/login/classic/login-5.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/Admin/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/Admin/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" />
    <link href="~/Admin/css/style.bundle.css" rel="stylesheet" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link href="~/Admin/css/admin/Account/Login.css" rel="stylesheet" />
    <style>
        .fa-arrow-right:before {
            content: "\f061";
            color: #f50808 !important;
        }
    </style>
</head>


<!--end::Head-->
<!--begin::Body-->
@*background-image: url('../../../../Assets/Admin/media/bg/LoginBackgroundImage.png')*@
<body id="kt_body" style="height: 100% ; background-color:#fbfbfb" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading" ondragstart="return false">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" >
                <div class="" style="border-radius: 10px;">
                    <div class="card-body" style="background-color: #fbfbfb">
                        <div class="d-flex justify-content-center">
                            <a href="#">
                          
                                <img src="~/Images/Icons/Confirmed.gif" class="logo max-h-300px" alt="" />
                            </a>
                        </div>
                        <div class="text-white p-7 position-relative overflow-hidden">
                            <!--begin::Login Header-->
                            <!--end::Login Header-->
                            <!--begin::Login Sign in form-->

                            <div class="login-signin">
                                <div class="text-center" style="padding-bottom: 18px;">
                                    <h3 style="color: black; font-size: 20px;" class="font-weight-bolder">Payment Captured!</h3>
                                    @*<p class="" style="color:black;">Enter your details to login to your account</p>*@
                                </div>
                                <div class="row justify-content-center">
                                    <a href="/Restaurant/Shop/Index"class="justify-content-center theme-red"><i class="fa fa-arrow-alt-circle-left fa-sm " style="color:red !important;"></i> Back to shop!</a>

                                </div>
                                

                            </div>
                            <div class="mt-n2 mb-n2 text-center">
                                @*<a href="javascript:;" id="kt_login_signup" class="text-white font-weight-bold">Sign Up</a>*@
                            </div>
                            <!--end::Login forgot password form-->
                        </div>
                    </div>
                </div>
                <!--end::Login-->
            </div>
        </div>
    </div>
    <!--end::Main-->
    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script> <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script> <!--end::Global Config--> <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/Admin/plugins/global/plugins.bundle.js"></script>
    <script src="~/Admin/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/Admin/js/scripts.bundle.js"></script>
    <script src="~/Admin/js/admin/account/login.js"></script> <!--end::Global Theme Bundle--> <!--begin::Page Scripts(used by this page)--> @*<script src="~/Admin/js/pages/custom/login/login-general.js"></script>*@
    <script>
        var i = 0; $(document).ready(function () { $(".inputField").focus(function () { if (i == 0) { $(".inputField").val(''); $("#Password").prop('type', 'password'); i++; } }); $("input[name=Email]:eq(0)").blur(); });
    </script>
</body>
<!--end::Body-->
</html>