@model WebApp.ViewModels.GarageExpertiseManagementViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Create</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">

    <form id="Userform">
        @Html.AntiForgeryToken()
        <div class="alert alert-danger text-center" id="divMessage" style="display:none"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-12 form-group row justify-content-center">
            <div class="col-md-12 mb-3" style=" display: flex; justify-content: center; align-items: center;">
                <div class="image-upload uploaded">
                    <i class="fa fa-camera"></i>
                    <span>Upload Image</span>
                    <input type="file" name="Restaurantlogo" id="Restaurantlogo" class="logo" accept=".png, .jpg, .jpeg" style="width:1px !important;height:1px !important"
                           aspectratio="NaN" minCroppedWidth="0" minCroppedHeight="0" />
                    <img id="PreviewImage" src='@Model.ImagePath' />

                    <i class="fa fa-pen" onclick="DeleteFile(this,'')"></i>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <div>
                        <textarea asp-for="Description" class="form-control branch-input" style="height:100px" name="Description" id="Description" rows="10" placeholder="Type Here" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                        @*<div class="input-group-append"><span class="input-group-text"><i class="fas fa-paragraph"></i></span></div>*@
                    </div>
                </div>
            </div>
         

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info" form="Userform">Submit</button>
</div>
<script src="~/Admin/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>
<script>
    var _URL = window.URL || window.webkitURL;
    var logoPath;
     var Description;

    $(document).ready(function () {
        ClassicEditor
            .create(document.querySelector('#Description'))
            .then(editor => {
                Description = editor;
                Description.setData(`@Html.Raw(Model.Description)`);
            })
            .catch(error => {
                console.log(error);
            });
        //Image Validation End

        var avatar1 = new KTImageInput('kt_image_1');
        var avatar2 = new KTImageInput('kt_image_2');

        $(".cancelimage").click(function () {
            DeleteImage(logoPath);
        })
        //Image Cropper

        $('.cropper-shape').click(function () {

            $('#CropperModal').removeClass($('.cropper-shape.active').attr('data'));

            $('.cropper-shape').removeClass('active');
            $(this).addClass('active');

            $('#CropperModal').addClass($(this).attr('data'));
        })


        $('.background-color').click(function () {
            $('.background-color').removeClass('active');
            $(this).addClass('active');


            $('.cropper-view-box').css('background', $('.background-color.active').attr('data'))
        })


        $('.cropper-aspectratio').click(function () {
            $('.cropper-aspectratio').removeClass('active');
            $(this).addClass('active');


            $('#image').attr('aspectratio', $(this).attr('data'));

            cropper.setAspectRatio($(this).attr('data'))

        })

        $('i.fa-camera').click(function () {
            $("#logo").trigger('click');
        });

        $('i.fa-camera').click(function () {
            $("#Restaurantlogo").trigger('click');
        });

        BindImageUploader("#Restaurantlogo", "#image", "#CropperModal", "#PreviewImage");

        $("#Userform").submit(function () {
            $(this).closest('.modal').find('button[type=submit]').addClass('spinner spinner-sm spinner-left').attr('disabled', true);
            var data = new FormData();
            data.append("Description", Description.getData());
            data.append("ImagePath", logoPath);
            $.ajax({
                url: "/Client/ExpertiseManagement/Create/",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    if (callback) {
                        callback($('#myModalContent'), element, false, response);

                    }

                    $(".createButton").hide();
               

                },
                error: function (er) {
                    toastr.error(er);
                
                }

            });
            return false;
        });
    });

</script>