
<a href="~/Client/AppointmentManagement/Index" class="menu-link">
    <span class="menu-icon">
        <i class="fa fa-paste"></i>
    </span>
    <span class="menu-text">Appointment Management</span>
</a>