<a href="~/Client/ExpertiseManagement/Index" class="menu-link">
    <span class="menu-icon">
        <i class="fa fa-chart-pie"></i>
    </span>
    <span class="menu-text">Expertise Management</span>
</a>