<a href="~/Client/Project/Index" class="menu-link">
                                                            <span class="menu-icon">
                                                                <i class="fa fa-clipboard-check"></i>
                                                            </span>
                                                            <span class="menu-text">Project Management</span>
                                                        </a>