@page
@model WebApp.Pages.AccessDeniedModel
@{
}


@{
    Layout = "_Layout";
    ViewData["Title"] = "Access Denied";
}

<div class="error error-6 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(/media/bg6.jpg)">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-row-fluid text-center">
        <h1 class="error-title font-weight-boldest text-white mb-12" style="margin-top: 12rem; font-size: 150px">Oops...</h1>
        <p class="display-4 font-weight-bold text-white">Looks like you dont have permission to access this page</p>
    </div>
    <!--end::Content-->
</div>

