@model WebApp.ViewModels.UserViewModel

@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title">Add User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
<div class="modal-body">
    <form asp-action="Create" asp-controller="Country" class="form" id="UserForm">
        <div class="form-group">
            <label>
                Email address
                <span class="text-danger">*</span>
            </label>
            <input asp-for="Email" class="form-control" placeholder="Enter email">
            <span class="form-text text-muted">We'll never share your email with anyone else.</span>
        </div>
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.FirstName)
                <span class="text-danger">*</span>
            </label>
            <input asp-for="FirstName" class="form-control" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.LastName)
                <span class="text-danger">*</span>
            </label>
            <input asp-for="LastName" class="form-control" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">
                Password
                <span class="text-danger">*</span>
            </label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input class="form-check-input" asp-for="IsActive" checked /> @Html.DisplayNameFor(model => model.IsActive)
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-info" form="UserForm">Submit</button>
</div>
