<ul class="menu-nav">
    <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <span class="menu-text">Dashboard</span>
            <i class="menu-arrow"></i>
        </a>
    </li>
    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Setups</span>
            <span class="menu-desc"></span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Country/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-flag"></i>
                        </span>
                        <span class="menu-text">Country</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/City/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-solid fa-city"></i>
                        </span>
                        <span class="menu-text">Cities</span>
                    </a>
                </li>
                @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                <a href="/Admin/Coupon/Index" class="menu-link">
                <span class="menu-icon">
                <i class="fa fa-solid fa-ticket-alt"></i>
                </span>
                <span class="menu-text">Coupons</span>
                </a>
                </li>*@

                @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                <a href="/Admin/GarageMenu/Index" class="menu-link">
                <span class="menu-icon">
                <i class="fa fa-list-alt"></i>
                </span>
                <span class="menu-text">Client Menu</span>
                </a>
                </li>

                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                <a href="/Admin/Expertise/Index" class="menu-link">
                <span class="menu-icon">
                <i class="fa fa-list-alt"></i>
                </span>
                <span class="menu-text">Client Expertise</span>
                </a>
                </li>*@

                @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                <a href="/Admin/Cardscheme/Index" class="menu-link">
                <span class="menu-icon">
                <i class="fa fa-credit-card"></i>
                </span>
                <span class="menu-text">Card Schemes</span>
                </a>
                </li>*@

                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/BusinessSetting/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-solid fa-toolbox"></i>
                        </span>
                        <span class="menu-text">Business Settings</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/IntegrationSetting/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-cogs"></i>
                        </span>
                        <span class="menu-text">Integration Settings</span>
                    </a>
                </li>

            </ul>
        </div>
    </li>
     <li class="menu-item menu-item-open  menu-item-submenu menu-item-rel menu-item-open " data-menu-toggle="click" aria-haspopup="true">
        <a href="/Admin/Module/Index" class="menu-link">
            <span class="menu-text">Module</span>
            <i class="menu-arrow"></i>
        </a>
    </li>
    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Users</span>
            <span class="menu-desc"></span>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/User/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-text">Add Users</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/UserRole/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-user-shield"></i>
                        </span>
                        <span class="menu-text">User Roles</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
       <li class="menu-item menu-item-open  menu-item-submenu menu-item-rel menu-item-open " data-menu-toggle="click" aria-haspopup="true">
        <a href="/Admin/Vendor/Index" class="menu-link">
            <span class="menu-text">Vendor</span>
            <i class="menu-arrow"></i>
        </a>
    </li>
    
    
   

    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Client Management</span>
            <span class="menu-desc"></span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Client/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-text">Clients</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/ClientTypes/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <span class="menu-text">Client Types</span>
                    </a>
                </li>
                @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
            <a href="/Admin/Coupon/Index" class="menu-link">
                <span class="menu-icon">
                    <i class="fa fa-solid fa-ticket-alt"></i>
                </span>
                <span class="menu-text">Coupons</span>
            </a>
        </li>*@

                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/ClientSections/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <span class="menu-text">Client Sections</span>
                    </a>
                </li>

                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/ClientIndustries/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-solid fa-city"></i>
                        </span>
                        <span class="menu-text">Client Industries</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/GarageMenu/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <span class="menu-text">Client Menu</span>
                    </a>
                </li>

                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Expertise/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <span class="menu-text">Client Expertise</span>
                    </a>
                </li>

            </ul>
        </div>
        @*<a href="/Admin/Garage/Index" class="menu-link">
            <span class="menu-text">Clients</span>
        </a>*@
        @*<div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-text">Squads</span>
                        <span class="menu-desc"></span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                <a href="/Admin/ServiceStaff/Index" class="menu-link">
                                    <span class="menu-icon">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    <span class="menu-text">Service Staff</span>
                                </a>
                            </li>
                            <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                <a href="/Admin/DeliveryStaff/Index" class="menu-link">
                                    <span class="menu-icon">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    <span class="menu-text">Delivery Staff</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/CarMake/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-car"></i>
                        </span>
                        <span class="menu-text">Car Makes</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Garage/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-gas-pump"></i>
                        </span>
                        <span class="menu-text">Clients</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/SparePartsDealer/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-tools"></i>
                        </span>
                        <span class="menu-text">Spare Parts Dealers</span>
                    </a>
                </li>
            </ul>
        </div>*@
    </li>
    <!--<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Fougito Restaurants</span>
            <span class="menu-desc"></span>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Restaurant/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-building"></i>
                        </span>
                        <span class="menu-text">Restaurants</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/SupplierCategory/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <span class="menu-text">Supplier Categories</span>
                    </a>
                </li>-->
                @*<ul class="menu-subnav">*@
                <!--<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Supplier/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-text">Add Suppliers</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/SupplierPackage/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-tags"></i>
                        </span>
                        <span class="menu-text">Supplier Packages</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Supplier/Approvals" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-check-double"></i>
                        </span>
                        <span class="menu-text">Supplier Approvals</span>
                    </a>
                </li>-->


                @*</ul>*@
            <!--</ul>
        </div>
    </li>-->
    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Customers</span>
            <span class="menu-desc"></span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Customer/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-text">All Customer</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Subscriber/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="flaticon2-user"></i>
                        </span>
                        <span class="menu-text">Subscribers</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/CustomerTransactionHistory/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fas fa-credit-card"></i>
                        </span>
                        <span class="menu-text">Transactions</span>
                    </a>
                </li>
                @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Blog/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fas fa-blog"></i>
                        </span>
                        <span class="menu-text">Blogs</span>
                    </a>
                </li>*@
                @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Annoucement/SendNotification" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-bullhorn"></i>
                        </span>
                        <span class="menu-text">
                            Announcements
                        </span>
                    </a>
                </li>*@


                <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-icon">
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="menu-text">Ratings</span>
                        <span class="menu-desc"></span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                        <ul class="menu-subnav">
                            @*<li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                <a href="/Admin/RestaurantRating/Index" class="menu-link">
                                    <span class="menu-icon">
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="menu-text">Restaurants Ratings</span>
                                </a>
                            </li>*@
                            <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                                <a href="/Admin/GarageRating/Index" class="menu-link">
                                    <span class="menu-icon">
                                        <i class="fa fa-star"></i>
                                    </span>
                                    <span class="menu-text">Clients Ratings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </li>
</ul>
