<ul class="menu-nav">
    <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <span class="menu-text">Dashboard</span>
            <i class="menu-arrow"></i>
        </a>
    </li>

    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Fougito Automobiles</span>
            <span class="menu-desc"></span>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Garage/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-gas-pump"></i>
                        </span>
                        <span class="menu-text">Garages</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/SparePartsDealer/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-server"></i>
                        </span>
                        <span class="menu-text">Spare Parts Dealers</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
