<ul class="menu-nav">
    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Fougito B2B</span>
            <span class="menu-desc"></span>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/SupplierCategory/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <span class="menu-text">Supplier Categories</span>
                    </a>
                </li>
                @*<ul class="menu-subnav">*@
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Supplier/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-users"></i>
                        </span>
                        <span class="menu-text">Add Suppliers</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/SupplierPackage/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-gift"></i>
                        </span>
                        <span class="menu-text">Supplier Packages</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Supplier/Approvals" class="menu-link">
                        <span class="menu-icon">
                            <i class="flaticon-safe-shield-protection"></i>
                        </span>
                        <span class="menu-text">Supplier Approvals</span>
                    </a>
                </li>


                @*</ul>*@
            </ul>
        </div>
    </li>
</ul>
