<ul class="menu-nav">
    <li class="menu-item menu-item-open menu-item-here menu-item-submenu menu-item-rel menu-item-open menu-item-here" data-menu-toggle="click" aria-haspopup="true">
        <a href="/Admin/Dashboard/Index" class="menu-link">
            <span class="menu-text">Dashboard</span>
            <i class="menu-arrow"></i>
        </a>
    </li>
    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            <span class="menu-text">Fougito Restaurants</span>
            <span class="menu-desc"></span>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-left">
            <ul class="menu-subnav">
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/Restaurant/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-building"></i>
                        </span>
                        <span class="menu-text">Restaurants</span>
                    </a>
                </li>
                <li class="menu-item menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true">
                    <a href="/Admin/RestaurantRating/Index" class="menu-link">
                        <span class="menu-icon">
                            <i class="fa fa-star"></i>
                        </span>
                        <span class="menu-text">Ratings</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
